// Custom Variables (override boostrap variables)
@import "variables.scss";

// Import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// Fontawesome

@import "makup.scss";

/* This file is for your main application CSS */

.article-body {
  p {
    margin-bottom: 1.5em;
    line-height: 1.8em;
  }

  p:has(+ ul) {
    margin-bottom: 0.75em;
  }

  ul {
    margin-bottom: 1.5em;
    line-height: 1.8em;
  }

  pre {
    margin-bottom: 1.5em;
  }

  img {
    max-width: 100%;
  }
}